<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delte the user</title>
</head>
<body>
     <h2>to delete this user:<%= user.email%> enter the password</h2>
     <form method="post" action="/user/<%= user.id%>?_method=DELETE">
        <input type="password" name="password" placeholder="Enter password">
        <button>delete</button>

     </form>
</body>
</html>